body {
    background-color: #FFC0CB;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    color: #333;
}

header h1 {
    color: #D63384;
}

main p {
    font-size: 20px;
}
